@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  background-color: #020617;
  color: #e2e8f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  min-height: 100%;
}
